@import '../../scss/colors';
@import '../../scss/typography';

.tip-container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}

.tip-button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
}

.tip-input {
    text-align: right;
}

.tip-button {
    cursor: pointer;
    background-color: $color-very-dark-cyan;
    color: $color-white;
    font-size: $font-size-lg;
    font-weight: $font-bold;
    padding: 0;
    transition: all .2s;

    &:hover {
        color: $color-very-dark-cyan;
        background-color: $color-cyan-hover;
    }
}

.selected {
    background-color: $color-strong-cyan;
    color: $color-very-dark-cyan;
}

@media screen and (min-width: 920px) {
    .tip-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 14px;
    }
}