@import '../../scss/colors';
@import '../../scss/typography';

.amount-detail-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-bold;
    margin-top: 21px;
}

.amount-detail {
    display: flex;
    flex-direction: column;
    font-weight: inherit;

    &-title {
        color: $color-white;
        font-size: $font-size-md;
        font-weight: inherit;
    }

    &-single {
        color: $color-dark-grayish-cyan;
        font-size: $font-size-sm;
        font-weight: inherit;
    }
}

span {
    color: $color-strong-cyan;
    font-size: $font-size-xl;
    font-weight: inherit;

    @media screen and (min-width: 920px) {
        font-size: 48px;
    }
}
