@import '../../scss/colors';
@import '../../scss/typography';

.input-text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    span {
        font-weight: $font-bold;
        color: #E17052;
        display: none;
        font-size: $font-size-md;
    }

    .input-with-icon {
        position: relative;
        display: flex;
        width: 100%;

        i {
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 20px;
            left: 15px;
        }

        input {
            margin-top: 6px;
            text-align: right;
        }
    }
}


.input-text-container.error {
    span {
        display: inline-block;
    }

    input {
        outline: 2px solid #E17052;
    }
}

i.dollar-icon {
    background-image: url('../../images/icon-dollar.svg');
}

i.person-icon {
    background-image: url('../../images/icon-person.svg');
}