$color-strong-cyan: #26c0ab;
$color-very-dark-cyan: #00494d;
$color-darker-grayish-cyan: #5e7a7d;
$color-dark-grayish-cyan: #7f9c9f;
$color-light-grayish-cyan: #c5e4e7;
$color-lighter-grayish-cyan: #f4fafa;
$color-white: #ffffff;