@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$font-primary: 'Space Mono', monospace;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;