@import './colors';
@import './typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
    font-weight: $font-regular;
}

body {
   background-color: $color-light-grayish-cyan;
   min-height: 100vh;
   display: flex;
   justify-content: center;
}

header {
    padding: 50px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    min-height: calc(100vh - 144px);
    height: auto;
    background-color: $color-white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 25px 25px 0 0;
    padding: 32px;
    overflow: visible;
}

.section-title {
    font-size: $font-size-md;
    font-weight: $font-bold;
    color: $color-darker-grayish-cyan;
}

input.input-text {
    border: none;
    height: 48px;
    border-radius: 5px;
    background-color: $color-lighter-grayish-cyan;
    font-size: $font-size-lg;
    color: $color-very-dark-cyan;
    font-weight: $font-bold;
    width: 100%;
    padding: 6px 17px;
    caret-color: $color-strong-cyan;

    &:focus {
        outline: 2px solid $color-strong-cyan;
    }
}

.resume-section {
    background-color: $color-very-dark-cyan;
    border-radius: 15px;
    padding: 37px 24px 24px 24px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;

    .resume-amount-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }   

}

.mt-md {
    margin-top: 32px;
}

.mt-sm {
    margin-top: 20px;
}

@media screen and (min-width: 920px) {

    // header {
    //     padding: 163px 0 87px 0;
    // }
    
    body {
        align-items: center;
    }

    main {
        width: 920px;
        min-height: 481px;
        height: 481px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;
        box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    }

    .input-section {
        width: 50%;
        max-width: 379px;
    }

    .resume-section {
        max-width: 413px;
        width: 50%;
        flex-direction: column;
        padding: 40px;
        height: 100%;
        justify-content: space-between;
        margin-top: 0;
    }
}